@import 'https://fonts.googleapis.com/css?family=Open+Sans';
* {
    font-family: 'Open Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    padding-top: 50px;
    height: 100%;
}

table {
    min-height: 130px;
}

select[readonly] {
    background: #eee;
    cursor: no-drop;
}

select[readonly] option {
    display: none;
}

.ywuHeader {
    background-color: #D23C3C;
    color: white;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbarYWU {
    color: #D23C3C;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

a:hover {
    color: #337ab7;
}

a:focus {
    color: #337ab7;
}


/* Spinner */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    margin: 0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 6px solid rgba(0, 174, 239, .15);
    border-right: 6px solid rgba(0, 174, 239, .15);
    border-bottom: 6px solid rgba(0, 174, 239, .15);
    border-top: 6px solid rgba(0, 174, 239, .8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(359deg);
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


/* End Spinner */

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
    }
}

@media (max-width: 1127px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}