

body
{
    padding-bottom: 40px;
}

.navbar-wrapper
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.navbar-wrapper .container
{
    padding-left: 0;
    padding-right: 0;
}

.navbar-wrapper .navbar
{
    padding-left: 15px;
    padding-right: 15px;
}

.carousel
{
    height: 500px;
    margin-bottom: 40px;
}

.carousel-caption
{
    z-index: 10;
}

.carousel .item
{
    height: 500px;
}

.carousel-inner>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    margin-bottom: 50px;
    height: 100%;
}

.marketing
{
    padding-left: 15px;
    padding-right: 15px;
}

.marketing .col-lg-4
{
    text-align: center;
    margin-bottom: 20px;
}

.marketing h2
{
    font-weight: 400;
}

.marketing .col-lg-4 p
{
    margin-left: 10px;
    margin-right: 10px;
}

.featurette-divider
{
    margin: 80px 0;
}

.featurette-heading
{
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

@media (min-width:768px)
{
    .marketing
    {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-wrapper
    {
        margin-top: 20px;
    }
    .navbar-wrapper .container
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-wrapper .navbar
    {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-wrapper .navbar
    {
        border-radius: 4px;
    }
    .carousel-caption p
    {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .featurette-heading
    {
        font-size: 50px;
    }
}

@media (min-width:992px)
{
    .featurette-heading
    {
        margin-top: 120px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
    /* iPhone 6 Portrait */
    #open
    {
      margin-top: -240px;
    }
}
