.fa-logo {
    font-size: 24px;
    width: 24px;
    height: 24px;
    text-align: center;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
    color: white;
    margin: 0px 10px;
    padding-top: 5px;
}

.fa-logo:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

.jumbotron {
    background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url('../images/misc/michael.gif');
    background-size: cover;
    background-position: center center;
    border-radius: 0;
    height: calc(100vh - 254px);
    width: 100%;
    text-align: center;
}

.headlinerAdjust {
    min-height: 120px;
}

.text-ywu {
    color: #D23C3C;
}

.rowAlt {
    background-color: #D23C3C;
    color: white;
}

#navbarLogo {
    height: 110px;
}

#main {
    color: white;
    padding-top: 30%;
}

#mainBanner {
    color: white;
    font-weight: bold;
    font-family: Open Sans;
    display: block;
}

#mainBtn {
  border-radius: 35px;
}

.bg-ywu {
    background-color: #D23C3C !important;
}

#testimonialsInner {
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 20px;
}

#galleryTopRow {
    padding-bottom: 5px;
}

.sectionspecialEvent {
    padding: 30px;
}

.sectionContent {
    padding: 50px;
    margin-bottom: 50px;
}

.sectionRight {
    width: 100%;
    text-align: right;
}

.sectionCenter {
    width: 100%;
    text-align: center;
}

.ywuHeader {
    color: #D23C3C;
}

.specialEvent {
    border: solid 3px #D23C3C;
    margin: 5px;
}

#navbarToggler3  .nav-item  .nav-link {
    font-size: large;
    color: #D23C3C;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: #D23C3C !important;
}

#footer h4 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer p {
    color: #ffffff;
}

.footerWhite {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
    height: 40px;
    width: 40px;
    padding-top: 8px;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
    text-decoration: none;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

#footer label {
    color: #fff;
}

#btnHistory:hover {
    color: #D23C3C;
}

#schoolsWall {
    line-height: 0;
    -webkit-column-count: 6;
    -webkit-column-gap: 0px;
    -moz-column-count: 6;
    -moz-column-gap: 0px;
    column-count: 6;
    column-gap: 0px;
    padding: 25px;
}

#schoolsWall img {
    width: 80% !important;
    height: auto !important;
    padding: 5px;
}

.supporter {
    height: 275px;
}

#historyVideo {
    width: 100%;
    height: 300px;
}

.full {
    width: 100%;
}

.boardAdjust {
    height: 100px;
    width: 100px;
}

.founderBoard {
    padding: 25px;
}

.wallInline {
    display: inline;
}

.btn-ywu {
    color: white;
    background-color: #D23C3C;
}

.btn-ywu:hover {
    background-color: white;
    color: #D23C3C;
}

.cBanner {
    margin-top: 21px;
    padding: 35px 0px 15px 0px;
    margin-bottom: 10px;
    font-size: larger;
    min-height: 100px;
}

.bannerText {
    margin-top: 15px;
    padding: 5px;
}

.supportersFirst {
    margin-bottom: 15px;
}

.boardSplit {
    margin-top: 35px;
}

#testimonials {
        padding-bottom:400px;
    }

/* min means this and above */
@media (min-width: 1150px) {
    .abs-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    #testimonials {
        padding-bottom:50px;
    }

     #testimonialsInner {
        height: 300px;
        padding-top: 40px;
    }
}

/* max means all up to */
@media (max-width: 430px) {
    #schoolsWall {
        line-height: 0;
        -webkit-column-count: 2;
        -webkit-column-gap: 0px;
        -moz-column-count: 2;
        -moz-column-gap: 0px;
        column-count: 2;
        column-gap: 0px;
        padding: 25px;
    }

    .fa-logo {
        font-size: 26px;
        max-width: 30px;
        height: 30px;
        text-align: center;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
        color: white;
        margin: 0px 0px;
        padding-top: 5px;
    }

    .jumbotron {
        background: linear-gradient(
                        rgba(20,20,20, .5),
                        rgba(20,20,20, .5)),
                        url('../images/misc/michael.gif');
        background-size: cover;
        background-position: center center;
        border-radius: 0;
        height: calc(100vh - 262px);
        width: 100%;
        text-align: center;
    }
}
